      <div class="row ">
           {{!-- <div class="col-md-12 ">
            <img src="/assets/logo/header.webp" class="hero">
        </div> --}}

        <header>
        <!-- Image for small screens and down -->
        <img src="/assets/logo/header_small.webp" class="img-fluid d-block d-sm-none" alt="Small screen image">
        <!-- Image for medium screens and up -->
        <img src="/assets/logo/header.webp" class="img-fluid d-none d-sm-block" alt="Large screen image">
      </header>

      </div>

<div class="products row mt-3">
  {{#each products}}
 
{{!-- class="card-img-top" --}}
  <div class="col-md-3  p-1">
    <a href="/product/{{this.slug}}">
       <img src="/assets/images/{{this.image}}" class="picture" alt="{{this.name}}">
       </a>
      {{!-- <div class="card-body"> --}}
        <h5 class=" title p-1">{{this.name}}</h5>
       
    {{#if this.discount_percent}}
      <p>
        <span class="original-price">M.R.P ₹{{this.price}}</span>
        <span class="discount">(-{{this.discount_percent}}% off)</span>
      </p>
      <p class="final-price">₹{{this.discounted_price}}</p>
    {{else}}
      <p class="final-price">₹{{this.price}}</p>
    {{/if}}

        <h6 class="description">{{{this.short_description}}}</h6>
        <a href="/product/{{this.slug}}" class="btn btn-warning btn-sm"  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Add to cart</a>
      {{!-- </div> --}}
    
 </div>

  {{/each}}
</div>
