<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-1 d-none d-md-block">

         {{#each product.images}}
            <div class="thumbnails">
              <img src="/assets/images/{{this.image_path}}" alt="{{../product.name}}" onclick="changeImage(this)" />
              </div>
            {{/each}}
      </div>

      
    
          <div class="col-md-11">
                <div class="product-gallery">
                  <div class="main-image">
                      <img id="currentImage" src="/assets/images/{{product.images.[0].image_path}}" alt="{{../product.name}}" >
                    </div>
                
            </div>
          </div>

    </div>

    <div class="row d-block d-md-none">
      <div class=" d-flex flex-row justify-content-between">
        {{#each product.images}}
                <div class="col-sm thumbnails">
                  <img src="/assets/images/{{this.image_path}}" alt="{{../product.name}}" onclick="changeImage(this)" />
                  </div>
                {{/each}}
        </div>
    </div>

  </div>
  <div class="col-md-4">
      <h4>{{product.name}}</h4>
      <p>{{{product.description}}}</p>
      {{#if product.sales_package}}
      <p>Sales package: {{product.sales_package}}</p>
      {{/if}}
       {{#if product.pack_of}}
      <p>Pack of: {{product.pack_of}}</p>
      {{/if}}
       {{#if product.barnd}}
      <p>Brand: {{product.brand}}</p>
      {{/if}}
       {{#if product.model}}
      <p>Model: {{product.model}}</p>
      {{/if}}
       {{#if product.brand_color}}
      <p>Brand color: {{product.brand_color}}</p>
      {{/if}}
       {{#if product.care}}
      <p>Care: {{product.care}}</p>
      {{/if}}
       {{#if product.skin_type}}
      <p>Skin type: {{product.skin_type}}</p>
      {{/if}}
       {{#if product.finish}}
      <p>Finish: {{product.finish}}</p>
      {{/if}}
       {{#if product.duration}}
      <p>Duration: {{product.duration}}</p>
      {{/if}}
       {{#if product.color}}
      <p>Color: {{product.color}}</p>
      {{/if}}
       {{#if product.features}}
      <p>Features: {{product.features}}</p>
      {{/if}}
       {{#if product.self_life}}
      <p>Salef life: {{product.self_life}}</p>
      {{/if}}
       {{#if product.highlight}}
      <p>Highlight: {{product.highlight}}</p>
      {{/if}}
       {{#if product.waterproof}}
      <p>Waterproof: {{product.waterproof}}</p>
      {{/if}}
      
        {{#if product.discount_percent}}
            <p>
              <span class="original-price">M.R.P ₹{{product.price}}</span>
              <span class="discount">(-{{product.discount_percent}}% off)</span>
            </p>
            <p class="final-price">₹{{product.discounted_price}}</p>
          {{else}}
            <p class="final-price">₹{{product.price}}</p>
          {{/if}}

     
            <form method="POST" action="/cart/add" >
            <div class="row">
                <div class="col-md-2">
                <input type="hidden" name="product_id" value="{{product.id}}" />
                    <input type="number" class="form-control" name="quantity" value="1" min="1" required />
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-warning">Add to Cart</button>
                </div>
              </div>
            </form>

       
  </div>
  
</div>